.upLinks {

    height: 50px;

    background-color: rgb(204, 203, 203);

    .links {
        display: flex;
        border: 1px solid gray;

        .btn {
            height: 50px;
            width: 70px;
            padding: 10px;
            text-decoration: none;
            color: black;
            border-radius: 0;
        }

        /*:hover{
    background-color: gray;
    color: white;
}*/
    }

}

.stringDiv {
    border: 1px solid gray;
}

.noneDiv {
    display: none;
}